graft examples
graft tests

recursive-include aiofastnet *.pxd *.pyx

global-exclude *.c *.py[cod] __pycache__ *.so *.pyd *.dll *.dylib *.html

include aiofastnet/static_mem_bio.c
include aiofastnet/static_mem_bio.h
include aiofastnet/certdecode.c
include aiofastnet/certdecode.h
